@using ReDoMusic.Domain.Entites;
@model List<Instrument>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Online Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Product Listing -->
    <div class="container mt-4">
        <div class="row">
            @foreach (var instrument in Model)
            {
                <!-- Product 1 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@instrument.ImageURL" class="card-img-top" alt="@instrument.Name">
                        <div class="card-body">
                            <h5 class="card-title">@instrument.Name</h5>
                            <p class="card-text">@instrument.Brand.Name</p>
                            <p class="card-text">@instrument.Model</p>
                            <p class="card-text">Price: $@instrument.Price</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                            <a asp-action="DeleteBrand" asp-route-id=".Id" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts -->
    @*     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
</body>
</html>
