@using ReDoMusic.Domain.Entites;
@model List<Instrument>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Product Listing -->
    <div class="container mt-4">
        <div class="row">
            @foreach (var instrument in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@instrument.ImageURL" class="card-img-top" alt="@instrument.Name">
                        <div class="card-body">
                            <h5 class="card-title">@instrument.Name</h5>
                            <p class="card-text">@instrument.Brand.Name</p>
                            <p class="card-text">@instrument.Model</p>
                            <p class="card-text">Price: $@instrument.Price</p>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                <a asp-controller="Instrument" asp-action="DeleteInstrument" asp-route-id="@instrument.Id" class="btn btn-outline-danger">Delete</a>
                                <a asp-controller="Comment" asp-action="Index" asp-route-id="@instrument.Id" class="btn btn-primary">Go to Comments</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

</body>
</html>
